h1 {
	text-align: center;
}

#classes {
	width: 100%;
	text-align: left;
	border-collapse: collapse;

}

#classes > tr {
	height: 40px;
}

#classes > tr:first-child {
	background-color: lightgreen;
}

#classes > tr:nth-child(2n+1) {
	background-color: #dddddd;
}

#classes > tr:nth-child(2n) {
	background-color: #cccccc;
}
