h1, h2 {
	text-align: center;
}

#classes {
	width: 100%;
	text-align: left;
	border-collapse: collapse;

}

.classRow {
	height: 40px;
}

.classRow:hover {
	filter: brightness(0.8); /*Darken the background on hover. */
}

.classRow:nth-child(2n+1) {
	background-color: #dddddd;
}

.classRow:nth-child(2n) {
	background-color: #cccccc;
}

.classRow:first-child {
	background-color: lightgreen;
}

.classInfoRow {
	background-color: white;
}

      .signInHistoryRow {
      	height: 40px;
        background-color: lightblue; 
      }
      
      .signInHistoryTable {
              border-collapse: collapse;
        width:100%;
      }
      
      .signInHistoryRow:nth-child(even) {
      	background-color: #FFAAFF;
      }
.classInfoRow:hover {
	background-color: white;
}
